@{
  Layout = "_Layout";
}

@model Library.Models.Patron

<h2>Add an Patron</h2>

<h4>Add a Patron to this task: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PatronId)

    @Html.Label("Select Patron")
    @Html.DropDownList("PatronId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>