@{
  Layout = "_Layout";
}

@using Library.Models;
@model Library.Models.Patron

<h2>Patron Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.CopyPatrons.Count == 0)
{
  <p>This Patron has no Copies czeched out.</p>
}
else
{
  <h4>Books the Patron has checked out:</h4>
  @foreach(var join in Model.CopyPatrons)
  {
    @* <li>@join.Copy.Title</li> *@
    @using (Html.BeginForm("DeleteCopy", "Patrons"))
    {
      @Html.Hidden("joinId", @join.CopyPatronId) <input type="submit" value="Delete"/>
    }
  }
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Patron", "Edit", new { id = Model.PatronId })</p>
<p>@Html.ActionLink("Delete Patron", "Delete", new { id = Model.PatronId })</p>