@{
  Layout = "_Layout";
}

@using Library.Models;
@model Library.Models.Author

<h2>Author Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Books.Count == 0)
{
  <p>This Author does not belong to any Books</p>
}
else
{
  <h4>Books theauthor belongs to:</h4>
  @foreach(var join in Model.Books)
  {
    <li>@join.Book.Title</li>
    @using (Html.BeginForm("DeleteBook", "Authors"))
    {
      @Html.Hidden("joinId", @join.AuthorBookId) <input type="submit" value="Delete"/>
    }
  }
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Author", "Edit", new { id = Model.AuthorId })</p>
<p>@Html.ActionLink("Delete Author", "Delete", new { id = Model.AuthorId })</p>