 @{
  Layout = "_Layout";
}

@model Library.Models.Book

<br>
<br>
<h4>Add a new book</h4>
@using (Html.BeginForm())
{
  <div class="mdl-textfield mdl-js-textfield">
    @Html.LabelFor(model => model.Title, new { @class="mdl-textfield__label" })
    @Html.TextBoxFor(model => model.Title, new { @class="mdl-textfield__input" })
  </div>

  @Html.Label("Select Author")
  @Html.DropDownList("AuthorId")

  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title)


    <input type="submit" value="Add new book" />
}
<p>@Html.ActionLink("Show all books", "Index")</p> 