 @{
  Layout = "_Layout";
}

@model Library.Models.Book;

<h2>Book Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>

<ul>
@if (@Model.Authors.Count == 0)
{
  <p>This book does not contain any authors</p>
}
else 
{
  <h4>Authors the book contains:</h4>
  <ul>
@foreach (var join in Model.Authors)
{
  <li>@join.Author.Name</li>
  <li>Copies: @model.Copies.Count</li>
}
</ul>
}
<p>@Html.ActionLink("Back to books", "Index")</p>
<p>@Html.ActionLink("Edit Book", "Edit", new { id = Model.BookId })</p>
<p>@Html.ActionLink("Delete Book", "Delete", new { id = Model.BookId })</p> 